*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html{
  font-size: 24px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}

li{
  font-size: 16px;
  font-size: 1.2em;
}

.btn{
  padding: 16px 32px ;
  border: 2px solid silver;
  background: coral;
  border-radius: 10px;
}

.btn.btn--em{
  font-size: 32px;
}

.btn--em{
  padding: 1em 2em ;
  border: 0.02em solid silver;
  background: coral;
  border-radius: 0.4em;
}

.btn--rem{
  padding: 1rem 2rem ;
  border: 0.02rem solid silver;
  background: coral;
  border-radius: 0.4rem;
}


.header{
  background: #ec7979;
  width: 50vw;
  height: 100vh;
}




@media (max-width: 1200px) {

  html{
    font-size: 10px;
  }

  .btn.btn--em{
    font-size: 10px;
  }
}

