.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-md-8,
.col-md-6,
.col-md-4{
  background: orange;
  color: black;
  border: 2px solid silver;
  padding: 20px;
}

.col-sm-9{
  background: cyan;
}

.row{
  border: 2px solid silver;
  padding: 5px 0;
}

.row-start{
  height: 300px;
  border: 2px solid silver;
  margin: 10px 0;
}

.accordion-button{
  background: silver;
}

.accordion-button:not(.collapsed){
  background: coral;
  color: white;
}


.my-slider .carousel-item{
  height: 532px;
  padding-bottom: 40px;
}

.carousel-item__content{
  width: 50%;
}

.carousel-indicators{
  margin-bottom: 0;
  bottom: -35px;
}

.my-slider .carousel-indicators button,
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  border: 1px solid #7E5D6F;
  border-radius: 50%;
  margin: 0 12.5px;
  opacity: 1;
}



.my-slider .carousel-indicators button:not(.active){
  background: white;
}

.my-slider .carousel-indicators button,
.swiper-pagination-bullet-active{
  background: #7E5D6F;
}


.slider-2{
  margin-top: 100px;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: white;
}










