@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.list{
  display: flex;
  padding: 40px 0;
}

.list__item:not(:last-child){
  margin-right: 30px;
}

/*
.list__item:last-child{
  margin-right: 0;
}*/

.list__item:first-child a{
  color: red;
}

.list__item a{
  color: black;
  padding: 15px;
  background: greenyellow;
}

.list__item a:hover{
  color: coral;
}

.list__item:hover a{
  color: blue;
}

.list__item a:active{
  color: red;
}

.list__item:not(:last-child):after{
  content: "/";
  font-size: 16px;
  color: greenyellow;
  margin: 0 0 0 20px;
}

/*.list__item:before{
  display: block;
  content: "";

  width: 20px;
  height: 20px;
}*/

.block{
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
  padding: 30px 20px;
  margin-top: 100px;
}

.block__item{
  padding: 30px 10px;
  background: coral;
  margin-bottom: 20px;
}

/*
.block__item:nth-child(odd){
  background: blue;
}*/

.block{
  position: relative;
}

.block__item{
  position: static;
}

.block__item-1{
  position: relative;
  background: gray;
}

.block__item-2{
  position: absolute;
  background: green;
  top: 0;
  left: 0;
}

.block__item-3{
  position: fixed;
  top: 0;
  left: 0;
}

.block__item-4{
  position: sticky;
  top: 0;
  background: blue;
  z-index: 1;
}

.block__item-6{
  position: sticky;
  top: 0;
  z-index: 2;
  background: pink;
}

.main-text{
  width: 400px;
  height: 150px;
  padding: 30px;
  border: 2px solid darkcyan;
  margin: 100px 0;
  overflow: hidden;
}

.img-block{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 100px;
  overflow: hidden;
}

.img-block img{
  position: absolute;
  left: 20%;
}