*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: repeat(4 , 1fr) ;
  gap: 10px;

  /*grid-template-columns: 100px 1fr 400px ;
  grid-template-columns: 1fr 1fr 1fr;*/
  /*grid-template-columns: 200px 200px max-content;
  grid-template-columns: 200px 200px min-content;
  grid-template-columns: 1fr 1fr minmax(200px , 600px);*/
  /* grid-template-columns: repeat(10 , 1fr);*/
  /*grid-template-rows: 1fr 1fr 1fr ;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  gap: 10px;*/
}


.grid__item-1{
  padding: 20px;
  background: #c99090;
  grid-column: 1/2;
  grid-row: 1/3;
}

.grid__item-2{
  padding: 20px;
  background: rebeccapurple;
}
.grid__item-3{
  padding: 20px;
  background: #c9b290;
  grid-column: 3/5;
  grid-row: 1/2;
}
.grid__item-4{
  padding: 20px;
  background: #a5c990;
}

.grid__item-5{
  padding: 20px;
  background: #90c7c9;
  grid-column: 3/4;
  grid-row: 2/4;
}

.grid__item-6{
  padding: 20px;
  background: #2940c0;
}

.grid__item-7{
  padding: 20px;
  background: #9a29c0;
}

.grid__item-8{
  padding: 20px;
  background: #481b45;
  grid-column: 2/3;
  grid-row: 3/5;
}

.grid__item-9{
  padding: 20px;
  background: #c99090;
}

.grid__item-10{
  padding: 20px;
  background: #9099c9;
}

.grid__item-11{
  padding: 20px;
  background: #c719b9;
  grid-column: -1/-3;
  grid-row: -1/-2;
}








